<!doctype html>
<html lang="en">
<p>
 
        
<link rel="stylesheet"
    href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/marketing.css" type="text/css"
media="screen" />
<div class="splash-container">
  <div class="splash">
 <h2> You searched for: <br>"{{searchstring}}" </h1>
 <h3> Our answer: {{results[0][0]}}</h3>
<p> </p>
<h1> 
<table class="pure-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Repetitions</th>
        </tr>
    </thead>

    <tbody>
      {% for tuple in results %}
	<tr>
            <td>{{tuple[0]}}</th>
            <td>{{tuple[1]}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>
</h1>
<br>

    <form class="pure-form" method="POST">
      <button type="submit" class="pure-button pure-button-primary">New Search</button>
    </form>

</div>
</div>