<!doctype html>
<html lang="en">
<p>
 
        
<link rel="stylesheet"
    href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/marketing.css" type="text/css"
media="screen" />
<div class="splash-container">
  <div class="splash">
 <h2> You searched for: <br>"{{searchstring}}" </h1>
 <h3> What we found was : </h3>
<p> </p>
<h1> 
<table class="pure-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Repetitions</th>
        </tr>
    </thead>

    <tbody>
      {% for key,value in results.iteritems() %}
	<tr>
            <td>{{key}}</th>
            <td>{{value}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</div>



